
<h1><div class = 'jumbotron' >Covid Tracker</div></h1>
<p><em>Last Updated:</em></p><%= @update %></p>

<h4>Total New U.S. Cases today:</h4><p><%= @usCases %></p>

<h4>Total New U.S. Deaths today:</h4><p><%= @usDeaths %></p>

<h4>State:</h4><p><%= @state %></p>

<h4>Deaths today:</h4><p><%= @ga %></p>

<%@deathsPerMin = @usDeaths/1440 %>

<h4>Deaths per minute in US:</h4><p><%= @deathsPerMin %></p>

<h4>New Positives: </h4><p><p><%= @positives %></p>


<div id="container" style="width:100%; height:400px;"></div>

<script>document.addEventListener('DOMContentLoaded', function () {
  const chart = Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Covid Tracking'
      },
      xAxis: {
          categories: ['Deaths', 'Cases']
      },
      yAxis: {
          title: {
              text: 'Deaths By State Today'
          }
      },
      series: [{
          name: 'GA Deaths today',
          data: [<%= @ga %>  ]
      }, {
          name: 'AL Deaths today',
          data: [<%= @al %>]
      },{
        name: 'AK Deaths today',
        data: [<%= @ak %>]
    },{
        name: 'AZ Deaths today',
        data: [<%= @az %>]
    },]
  });
});</script>


