<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h1>Covid Tracker</h1>
<p><em>Last Updated:</em></p><%= @update %></p>

<h4>Total New U.S. Cases today:</h4><p><%= @usCases %></p>

<h4>Total New U.S. Deaths today:</h4><p><%= @usDeaths %></p>

<h4>State:</h4><p><%= @state %></p>

<h4>Deaths today:</h4><p><%= @deaths %></p>

<h4>New Positives: </h4><p><p><%= @positives %></p>

