
<h1><div class = 'jumbotron' >Covid Tracker</div></h1>
<p><em>Last Updated:</em></p><%= @update %></p>

<h4>Total New U.S. Cases today:</h4><p><%= @usCases %></p>

<h4>Total New U.S. Deaths today:</h4><p><%= @usDeaths %></p>

<h4>State:</h4><p><%= @state %></p>

<h4>Deaths today:</h4><p><%= @ga %></p>

<%@deathsPerMin = @usDeaths/1440 %>

<h4>Deaths per minute in US:</h4><p><%= @deathsPerMin %></p>

<h4>New Positives: </h4><p><p><%= @positives %></p>


<div id="container" style="width:100%; height:400px;"></div>


<script>document.addEventListener('DOMContentLoaded', function () {


const chart = Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Covid Tracking'
    },
    xAxis: {
        categories: ['Deaths']
    },
    yAxis: {
        title: {
            text: 'Deaths By State Today'
        }
    },
    series: [{
        name: 'AL Deaths today',
        data: [<%= @al %>]
    },{
        name: 'AK Deaths today',
        data: [<%= @ak %>]
    },{
        name: 'AR Deaths today',
        data: [<%= @ar %>]
    },{
        name: 'CA Deaths today',
        data: [<%= @ca %>]
    },{
        name: 'CO Deaths today',
        data: [<%= @co %>]
    },{
        name: 'CT Deaths today',
        data: [<%= @ct %>]
    },{
        name: 'DE Deaths today',
        data: [<%= @de %>]
    },{
        name: 'FL Deaths today',
        data: [<%= @fl %>]
    },{
        name: 'GA Deaths today',
        data: [<%= @ga %>]
    },{
        name: 'HI Deaths today',
        data: [<%= @hi %>]
    },{
        name: 'ID Deaths today',
        data: [<%= @id %>]
    },{
        name: 'IL Deaths today',
        data: [<%= @il %>]
    },{
        name: 'IN Deaths today',
        data: [<%= @in %>]
    },{
        name: 'IA Deaths today',
        data: [<%= @ia %>]
    },{
        name: 'KS Deaths today',
        data: [<%= @ks %>]
    },{
        name: 'KY Deaths today',
        data: [<%= @ky %>]
    },{
        name: 'LA Deaths today',
        data: [<%= @la %>]
    },{
        name: 'ME Deaths today',
        data: [<%= @me %>]
    },{
        name: 'MD Deaths today',
        data: [<%= @md %>]
    },{
        name: 'MA Deaths today',
        data: [<%= @ma %>]
    },{
        name: 'MI Deaths today',
        data: [<%= @mi %>]
    },{
        name: 'MN Deaths today',
        data: [<%= @mn %>]
    },{
        name: 'MS Deaths today',
        data: [<%= @ms %>]
    },{
        name: 'MO Deaths today',
        data: [<%= @mo %>]
    },{
        name: 'MT Deaths today',
        data: [<%= @mt %>]
    },{
        name: 'NE Deaths today',
        data: [<%= @ne %>]
    },{
        name: 'NV Deaths today',
        data: [<%= @nv %>]
    },{
        name: 'NH Deaths today',
        data: [<%= @nh %>]
    },{
        name: 'NJ Deaths today',
        data: [<%= @nj %>]
    },{
        name: 'NM Deaths today',
        data: [<%= @nm %>]
    },{
        name: 'NY Deaths today',
        data: [<%= @ny %>]
    },{
        name: 'NC Deaths today',
        data: [<%= @nc %>]
    },{
        name: 'ND Deaths today',
        data: [<%= @nd %>]
    },{
        name: 'OH Deaths today',
        data: [<%= @oh %>]
    },{
        name: 'OK Deaths today',
        data: [<%= @ok %>]
    },{
        name: 'OR Deaths today',
        data: [<%= @or %>]
    },{
        name: 'PA Deaths today',
        data: [<%= @pa %>]
    },{
        name: 'RI Deaths today',
        data: [<%= @ri %>]
    },{
        name: 'SC Deaths today',
        data: [<%= @sc %>]
    },{
        name: 'SD Deaths today',
        data: [<%= @sd %>]
    },{
        name: 'TN Deaths today',
        data: [<%= @tn %>]
    },{
        name: 'TX Deaths today',
        data: [<%= @tx %>]
    },{
        name: 'UT Deaths today',
        data: [<%= @ut %>]
    },{
        name: 'VT Deaths today',
        data: [<%= @vt %>]
    },{
        name: 'VA Deaths today',
        data: [<%= @va %>]
    },{
        name: 'WA Deaths today',
        data: [<%= @wa %>]
    },{
        name: 'WV Deaths today',
        data: [<%= @wv %>]
    },{
        name: 'WI Deaths today',
        data: [<%= @wi %>]
    },{
        name: 'AZ Deaths today',
        data: [<%= @az %>]
    },]
  });
});</script>




