

<h1><div class = 'jumbotron' >Covid Tracker</div></h1>
<p><em>Last Updated:</em></p><%= @update %></p>

<h4>Total New U.S. Cases today:</h4><p><%= @usCases %></p>

<h4>Total New U.S. Deaths today:</h4><p><%= @usDeaths %></p>

<h4>State:</h4><p><%= @state %></p>

<h4>Deaths today:</h4><p><%= @deaths %></p>

<h4>New Positives: </h4><p><p><%= @positives %></p>

